.pageLoadingBar{
    opacity: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    transition: opacity 0.5s;
    z-index: 999;
}
.loadingBar{
    position: absolute;
    left: 0;
    height: 3px;
    top: 0px;
    width: 50%;
    background-color: #1e95e9;
    animation: barSlide 1s infinite;

    @keyframes barSlide{
        0%{
            left: 0%;
            width: 0%;
        }
        50%{
            left: 0%;
            width: 100%;
        }
        100% {
            left: 100%;
        }
    }

}
