# Project dependencies
/node_modules

# NPM
npm-debug.log

# OS
.DS_Store

# Database model defitions
/migrations/models.js

# Build artifacts
/build/lib
/build/resources/assets
/build/resources/database.sqlite
/build/resources/database.test.sqlite

# Dist artifacts
/dist/lib
/dist/resources/assets
/dist/resources/database.sqlite

# Typescript
/typings

# Test report
test-results.xml

# Configuration file
/build/resources/*config.yml
/dist/resources/*config.yml

# Yarn lock file
yarn.lock

# Test and coverage output
.nyc_output
coverage

# Log files
/build/resources/log
/dist/resources/log
