# Project dependencies
/node_modules

# NPM
npm-debug.log

# OS
.DS_Store

# Build artifacts
/build/resources
/build/lib

# Dist artifacts
/dist/resources
/dist/lib

# Typescript
/typings

# Test report
test-results.xml

# Configuration file
chook.config.yml