# Project dependencies
/node_modules

# NPM
npm-debug.log

# OS
.DS_Store

# Build artifacts
/build/lib
/build/resources/database.sqlite
/build/resources/database.test.sqlite
/build/resources/assets

# Dist artifacts
/dist/lib
/dist/resources/database.sqlite
/dist/resources/assets

# Typescript
/typings

# Test report
test-results.xml

# Configuration file
chook.config.yml

# Yarn lock file
yarn.lock
