
html, body{
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;

	background: #515160;

}

.structureContainer{
	position: relative;
}

// @media only screen and (min-width: 1300px){
// 	.structureContainer{
// 		outline: 1px solid lime;
// 		width: 1200px;
// 		margin: 0 auto;
// 	}
// }

// @media only screen and (min-width: 720px) and (max-width: 1299px){
// 	.structureContainer{
// 		outline: 1px solid navy;
// 		width: 90%;
// 		margin: 0 auto;
// 	}
// }

// @media only screen and (max-width: 719px){
// 	.structureContainer{
// 		min-width: 100%;
// 		margin: 0 auto;
// 		outline: 1px solid yellow;
// 	}
// }