.modalContainer{
	position: fixed;
	z-index: 90;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 100vh;
	text-align: center;

	.modalContent{
		text-align: left;
		display: inline-block;
		line-height: normal;
		vertical-align: middle;
	}
}